<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.gnrsoft.springboot_test.mapper.UserMapper" >

	<select id="findUserInfo" resultType="com.gnrsoft.springboot_test.model.User">
		select name as userName ,age from user;
	</select>

</mapper>

